.navbar {
	background-color: tomato;

}
.nav-item {
	font-weight: 700;
	padding: 10px;

}
li:hover {
	color: red;
}
.nav-link{
	color: rgba(0,0,0,.5);
	font-weight: 700;

}
.responsive {
	width: 100%;
	padding-top:0;

}

.row {
	padding-top: 40px;
	padding-left: 30px;
}
.img-thumbnail {
	border-radius: 500px;
}
.image {
	opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.col-lg-4:hover .image {
	opacity: 0.3;
}

.col-lg-4:hover .middle {
	opacity: 1;
}
.text {
	background-color:transparent;
	color: #190000;
	font-size: 26px;
	padding: 16px 32px;
	font-weight: 600;
	font-family: 'Lobster', cursive;
}
.title{
	padding: 10px;
}
h3 {
	border: 1px solid black;
	background-color: black;
	color: #e500e0;
	width: 52%;

}
.tekst {
	    width: 100%;
    float: left;
    padding: 0 20px;
    position: relative;
    border-left: 1px solid #25201f;
    box-sizing: border-box;

}
 a {
 	color:white;
 	-webkit-transition: color 1s ease-in;
 }
 a:hover {
 	color: white;

 }
